:root {
  --color-white: #fff;
  --color-black: #111;
  --color-gray-light: #eee;
  --color-gray: #888;
  --color-gray-dark: #333333;
  --color-blue: #5fa8d3;
  --color-violet: #6a28d3;
  --color-violet-light: #a594f9;
  --color-violet-accent: #aa60db;
  --color-green: #64c27b;
  --color-green-accent: #a0ff7e;
  --color-green-dark: #157e00;
  --color-yellow: #E6AF2E;
  --color-red: #fa6450;
  --color-red-accent: #ff8484;
  --color-brown: #630f0f;
  --color-gold: #CFCFCF;
  --color-blue-dark: #0e0c16;
  --color-blue-accent: #170b37;
  --color-accent1: #5200e0;
  --color-accent2: #8f2929;
  --color-accent3: #a7b0c3;

  --profile-background: var(--color-blue-dark);
  --profile-text-accent: var(--color-violet-accent);
  --card-background: var(--color-white);
  --username-text: var(--color-black);
  --select-component: var(--color-gray-light);
  --add-comp-btn-clr: var(--color-violet);
  --accent-lines: var(--color-gray-dark);
  --push-link: var(--color-violet-accent);
  --push-bg1: var(--color-gray-dark);
  --push-text: var(--color-black);
}

body {
  color: var(--color-black);
}